/*
Theme Name: Chalets et caviar
Theme URI: https://chaletsetcaviar.com
Description: Thème enfant héritant du thème Twenty Nineteen
Author: Florian
Author URI: https://github.com/FlorianJourde
Template: twentynineteen
Version: 0.1.0
 */

:root {
  --clr-brown: hsl(39, 100%, 26%);
  --clr-light-brown: hsl(39, 100%, 36%);
  --clr-light-cream: hsl(39, 100%, 90%);
  --clr-very-light-cream: hsl(39, 100%, 97%);
  --clr-cream: #ffdb99;
  --clr-very-dark-brown: #1d160c;
  --clr-dark-brown: hsl(35, 41%, 25%);
  --clr-blue: #5bc3eb;
  --clr-dark-blue: #126d91;
  --clr-very-dark-blue: hsl(197, 50%, 12%);
  --fs-h1: 24px;
  --fs-h2: 20px;
  --fs-h3: 16px;
  --fs-body: 14px;
  --fs-small: 10px;
  --ff-primary: 'Inter', serif;
  --ff-secondary: 'Playfair Display', serif;
  --bs-primary: 0 30px 100px hsla(0, 0%, 0%, 0.2);
  --bs-secondary: hsla(197, 50%, 12%, 0.10) 0px 6px 18px 0, hsla(197, 50%, 12%, 0.15) 0px 3px 14px 0;
  --bs-tertiary: hsla(197, 50%, 12%, 0.10) 0px 6px 12px 0, hsla(197, 50%, 12%, 0.15) 0px 3px 7px 0;
  --br-primary: 10px;
  --br-secondary: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}

input, button, textarea, select {
  font: inherit;
}

li {
  list-style: none;
}

a, .site-branding-container a, .entry .entry-title a {
  color: var(--clr-brown);
  /*font-weight: 600;*/
}

::selection {
  background-color: var(--clr-light-cream);
}

.site-branding-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#menu-menu-navbar {
  display: flex;
}

#menu-menu-navbar li:not(:last-child){
  margin-right: 30px;
}

a:hover, a:active {
  color: var(--clr-dark-brown);
}

.author-description .author-link, .comment-metadata, .comment-reply-link, .comments-title, .comment-author .fn, .discussion-meta-info, .entry-meta, .entry-footer, .main-navigation, .no-comments, .not-found .page-title, .error-404 .page-title, .post-navigation .post-title, .page-links, .page-description, .pagination .nav-links, .sticky-post, .site-title, .site-info, #cancel-comment-reply-link, h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--clr-dark-brown);
  margin: 0;
  letter-spacing: 0.2em;
}

h1:not(.site-title):before, h2:before {
  display: none;
}

section {
  text-align: center;
}

section h2 {
  margin-bottom: 100px;
}

.duplicate {
  position: relative;
}

.duplicate::after {
  font-family: var(--ff-secondary);
  content: " " attr(data-title);
  /*margin-top: 10px;*/
  position: absolute;
  /*left: 0;*/
  /*right: 0;*/
  /*top: 50%;*/
  /*left: -25%;*/
  /*transform: translateY(-55%);*/

  top: 50%;
  right: 50%;
  transform: translateY(-55%) translateX(50%);
  opacity: 0.15;
  letter-spacing: 0;
  font-size: 3em;
  /*z-index: -1;*/
  width: max-content;
}

.duplicate.multiple-lines::after {
  width: auto;
  /*font-size: 3em;*/
}

.site-header {
  height: 120px;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: transparent;
  z-index: 100;
  width: inherit;
  padding: 1rem 0;
  font-family: var(--ff-primary);
  text-transform: uppercase;
  font-weight: 600;
  transition: .4s all;
  box-shadow: unset;
  letter-spacing: 0.2em;
  /*position: sticky;*/
  /*display: none;*/
}

.site-header.visible-navbar {
  height: 80px;
}

.site-header a {
  /*font-size: 600;*/
  /*font-weight: 600;*/
  color: var(--clr-light-cream);
}

.visible-navbar {
  background-color: white;
  box-shadow: var(--bs-secondary);
}

.visible-navbar a {
  /*color: var(--clr-light-cream);*/
  color: var(--clr-dark-brown);
}

.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  /*background-image: url("");*/
  text-align: center;
}

.banner h1, .banner h2, .sales h1, .sales h2 {
  color: var(--clr-light-cream);
}

.banner h2 {
  /*color: var(--clr-cream);*/
  opacity: 0.5;
}

.banner h1, .sales h2,.ad h2, .rentals h2 {
  margin-right: auto;
  margin-left: auto;
  /*width: max-content;*/
}

.banner h1 {
  margin-bottom: 250px;
  /*font-size: 4em;*/
}

.banner::after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-very-dark-brown);
  opacity: .7;
  /*position:relative;*/
}

.banner .banner-title {
  position: absolute;
  z-index: 10;
  margin-top: 75px;
}

.banner .banner-title.home-banner-title {
  margin-top: 250px;
}

.archive-banner {
  /*height: 600px;*/
}

.archive-banner, .single-banner {
  height: 400px;
}

.archive-banner h1, .single-banner h1 {
  margin-bottom: unset;
}

.single-banner .thumbnail {
  height: inherit;
  width: 100%;
  object-fit: cover;
}

.single-section {
  display: flex;
}

.single-section .showing {
  width: 60%;
  margin-right: 100px;
}

.single-section .showing img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: var(--br-primary);
}

.single-section .content {
  border-radius: var(--br-primary);
  background-color: var(--clr-light-cream);
  padding: 50px;
  width: 40%;
  overflow: hidden;
  text-align: left;
}

.wrapper {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
}

.ad {
  background-color: var(--clr-light-cream);
}

.ad h2 {
margin-bottom: 0;
}

section, #post-154 {
  padding: 100px 0;
}

.rentals, .archive-rentals {
  /*margin-bottom: 50px;*/
}

.rentals {
  /*background-image: url(images/mountains_2_1.png);*/
  /*background-size: cover;*/
  /*background-color: var(--clr-very-light-cream);*/
}

.rentals .cards, .sales .cards, .archive-rentals .cards {
  text-align: left;
  display: grid;
  gap: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  /*gap: 50px;*/
  /*grid: repeat(2, 1fr) / auto-flow;*/
  /*justify-content: space-between;*/
  margin-bottom: 50px;
}

.rentals .entry, .sales .entry, .archive-rentals .entry {
  box-shadow: var(--bs-tertiary);
  border-radius: var(--br-secondary);
  display: flex;
  background-color: white;
  /*flex-flow: column;*/
  flex-direction: column;
  /*flex-wrap: wrap;*/
}

.rentals .thumbnail,.sales .thumbnail,.archive-rentals .thumbnail {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

.rentals .title, .sales .title, .archive-rentals .title, .single-section .title {
  /*margin-bottom: 40px;*/
  /*text-align: left;*/
}

.title {
  /*width: max-content;*/
  text-align: center;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.rentals .content,.sales .content,.archive-rentals .content, .single-section .content {
  /*margin: 40px;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  /*margin-right: 30px;*/
}

.rentals .content,.sales .content,.archive-rentals .content {
  margin: 40px;
}

.rentals .infos, .sales .infos, .archive-rentals .infos, .single-section .infos {
  display: flex;
  justify-content: space-between;
}

.rentals .infos :not(:last-child), .sales .infos :not(:last-child), .archive-rentals .infos :not(:last-child) {
  margin-right: 20px;
}

.rentals .description, .sales .description, .archive-rentals .description, .single-section .description {
  margin-bottom: 20px;
  flex-grow: 1;
}

.sales {
  background-color: var(--clr-very-dark-brown);
  background-image: url(images/chalet_6_1.png);
  background-size: cover;
  background-position: center;
}

.entry {
  margin-top: unset;
  overflow: hidden;
}

.entry a {
  border-radius: inherit;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.entry a:visited {
  color: var(--clr-brown);
}

.site-featured-image {
  z-index: -100;
}

.site-footer {
  background-color: var(--clr-very-dark-brown);
}

.site-info {
  text-align: center;
}

input[type=text], input[type=email], input[type=url], input[type=password], input[type=search], input[type=number], input[type=tel], input[type=range], input[type=date], input[type=month], input[type=week], input[type=time], input[type=datetime], input[type=datetime-local], input[type=color], textarea {
  border-radius: var(--br-secondary);
}

.wpcf7-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

form p {
  margin: 0;
}

.wpcf7-form :nth-last-child(-n+3) {
  grid-column: 1 / 3;
}

.wpcf7-form-control {
  width: 100%;
}

.button, button, input[type=button], input[type=reset], input[type=submit] {
  border-radius: var(--br-secondary);
  background-color: var(--clr-brown);
  font-size: inherit;
}

.button:hover, button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover {
  background: var(--clr-dark-brown);
  color: var(--clr-very-light-cream);
  /*cursor: pointer;*/
}

@media screen and (max-width: 600px) {
  .rentals .cards, .sales .cards, .archive-rentals .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .single-section {
    flex-direction: column;
  }

  .single-section .showing, .single-section .content {
    width: unset;
    /*margin-right: unset;*/
  }

  .single-section .showing {
    margin-right: unset;
  }

  .single-section :not(:last-child) > *{
    margin-bottom: 50px;
  }

  .wpcf7-form {
    grid-template-columns: repeat(1, 1fr);
  }

  .wpcf7-form :nth-last-child(-n+3) {
    grid-column: unset;
  }
}