/*
Theme Name: Chalets et caviar
Theme URI: https://chaletsetcaviar.com
Description: Thème enfant héritant du thème Twenty Nineteen
Author: Florian
Author URI: https://github.com/FlorianJourde
Template: twentynineteen
Version: 0.1.0
 */

:root {
  --clr-brown: hsl(39, 100%, 26%);
  --clr-light-cream: hsl(39, 100%, 90%);
  --clr-cream: #ffdb99;
  --clr-very-dark-brown: #1d160c;
  --clr-blue: #5bc3eb;
  --clr-dark-blue: #126d91;
  --clr-very-dark-blue: hsl(197, 50%, 12%);
  --fs-h1: 24px;
  --fs-h2: 20px;
  --fs-h3: 16px;
  --fs-body: 14px;
  --fs-small: 10px;
  --ff-primary: 'Inter', serif;
  --ff-secondary: 'Playfair Display', serif;
  --bs-primary: 0 30px 100px hsla(0, 0%, 0%, 0.2);
  --bs-secondary: hsla(197, 50%, 12%, 0.10) 0px 6px 18px 0, hsla(197, 50%, 12%, 0.15) 0px 3px 14px 0;
  --bs-tertiary: hsla(197, 50%, 12%, 0.10) 0px 6px 12px 0, hsla(197, 50%, 12%, 0.15) 0px 3px 7px 0;
  --br-primary: 10px;
  --br-secondary: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}

input, button, textarea, select {
  font: inherit;
}

li {
  list-style: none;
}

a, .site-branding-container a, .entry .entry-title a {
  color: var(--clr-brown);
}

.site-branding-container {
  display: flex;
  justify-content: space-between;
}

#menu-menu-navbar {
  display: flex;
}

#menu-menu-navbar li:not(:last-child){
  margin-right: 30px;
}

a:hover, a:active {
  color: var(--clr-very-dark-brown);
}

.author-description .author-link, .comment-metadata, .comment-reply-link, .comments-title, .comment-author .fn, .discussion-meta-info, .entry-meta, .entry-footer, .main-navigation, .no-comments, .not-found .page-title, .error-404 .page-title, .post-navigation .post-title, .page-links, .page-description, .pagination .nav-links, .sticky-post, .site-title, .site-info, #cancel-comment-reply-link, h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--clr-very-dark-brown);
  margin: 0;
}

h1:not(.site-title):before, h2:before {
  display: none;
}

section {
  text-align: center;
}

section h2 {
  margin-bottom: 50px;
}

.site-header {
  position: fixed;
  background-color: white;
  z-index: 10;
  width: inherit;
  padding: 1rem 0;
  font-family: var(--ff-primary);
  text-transform: uppercase;
  box-shadow: var(--bs-secondary);
  /*position: sticky;*/
  /*display: none;*/
}

.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  /*background-image: url("");*/
  text-align: center;
}

.banner h1, .banner h2, .sales h1, .sales h2 {
  color: var(--clr-light-cream);
}

.banner h1 {
  margin-bottom: 50px;
}

.banner::after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-very-dark-brown);
  opacity: .7;
  /*position:relative;*/
}

.banner .blog-info {
  position: absolute;
  z-index: 10;
}

.wrapper {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
}

/*.banner-section {*/
/*  background-image: url('./images/chalet_6.jpg');*/
/*  background-size: cover;*/
/*  color: white;*/
/*  height: 100vh;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  text-align: center;*/
/*  flex-direction: column;*/
/*}*/

/*.banner-section::before {*/
/*  content: "";*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  position: absolute;*/
/*  background-color: var(--clr-very-dark-brown);*/
/*  opacity: 0.7;*/
/*}*/

/*.banner-section h1, .banner-section h2 {*/
/*  z-index: 1;*/
/*  color: var(--clr-light-cream);*/
/*  text-shadow: var(--bs-secondary);*/
/*}*/

/*.banner-section h2 {*/
/*  opacity: 0.7;*/
/*  font-weight: 300;*/
/*}*/

section {
  padding: 100px 0;
}

.rentals {
  margin-bottom: 50px;
}

.rentals .cards, .sales .cards {
  text-align: left;
  display: grid;
  gap: 40px;
  grid: repeat(2, 1fr) / auto-flow;
  /*justify-content: space-between;*/
}

.rentals .card, .sales .card {
  box-shadow: var(--bs-tertiary);
  border-radius: var(--br-secondary);
  display: flex;
  background-color: white;
  /*flex-flow: column;*/
  flex-direction: column;
  /*flex-wrap: wrap;*/
}

.rentals .thumbnail,.sales .thumbnail {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

.rentals .title, .sales .title {
  margin-bottom: 20px;
}

.rentals .content,.sales .content {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  /*margin-right: 30px;*/
}

.rentals .infos, .sales .infos {
  display: flex;
  justify-content: space-between;
}

.rentals .infos :not(:last-child), .sales .infos :not(:last-child) {
  margin-right: 20px;
}

.rentals .description, .sales .description {
  margin-bottom: 20px;
  /*flex-grow: 1;*/
}

.sales {
  background-color: var(--clr-very-dark-brown);
}